/* About Stying */
.about_section {
    height: 80vh;
}

.about_button {
    width: 20%;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    color: black;
}

.about_button:hover {
    background-color: #f9004d;
    transform: translate3d(0px, -1px, 0px);
    color: #fff;
}