/* portfolioHome Stying */
.portfolioHome_section {
    height: 100vh;
    background-color: #4d4d4d;
}

.card-services {
    height: 330px;
    padding: 60px 30px;
}

.portfolioHome_title {
    color: #fff;
}


/* part 2 */
.fashion-wrapper {
    height: 500px;
}

.fashion-wrapper button {
    display: none;
}

.fashion-wrapper button:hover {
    background-color: #f61b10;
    color: #fff;
    border: none;
}

.fashion-stats {
    transition: all .5s;
}

.fashion-wrapper:hover .overlay {
    background-image: linear-gradient(180deg, rgba(252, 0, 77, 0.7), rgba(0, 0, 0, 0.7));
    cursor: pointer;
}

.fashion-wrapper:hover .fashion-stats {
    transform: translateY(-40%);
}

.fashion-wrapper:hover button {
    display: block;

}

/* Section 2 */



/* .portfolioHome_content {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
} */


/* .section_two_child {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    gap: 8vh;
    padding: 5vh;
    justify-content: center;
    width: fit-content;
    color: #000;
} */

.object-cover-image-section-two {
    width: 450px;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .section_two_child {
        flex-direction: column;
    }
}
