/* Footer Styling */

footer {
    background-color:#4d4d4d;
    /* background-color: rgba(0, 0, 0, 0.2);      */
    padding-top: 2vh;
    /* text-align: center; */
    color: #fff;
}

.footer_ul {
    
    /* display: flex; */
    /* justify-content: center;
    gap: 10px; */
    list-style: none;
}

.footer_text {
    text-align: center;
    white-space: pre-wrap;
    font-size: 17px;
    font-weight: 450;
}

