.my_navBar {
    position: fixed;
    width: 100%;
    /* top: 1px;
    left: 7.5%; */
    z-index: 10;
}

.my_NavName{
    font-size: 25px;
    font-weight: 800;
    font-style: oblique;
}

/* navbar background colour */
/* bg-transparent bg-body-tertiary */

li {
    font-size: 18px;
    font-weight: 550;
}

.navbar_button {
    padding: 3px 17px;
    transition: all 0.2s ease-in-out;
}

ul > .nav-button:hover {
    background-color: #f9004d;
    transform: translate3d(0px, -1px, 0px);
    border: none;
    color: #fff;
}

.navbar_button > .nav-link:hover {
    color: #fff;
}